@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  /*Colors*/

  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #d6ccc2;
  --secondary-color: #d5bdaf;
  --light-pink-color: #f5ebe0;
}

:root[data-theme="dark"] {
  --white-color: rgb(32, 32, 32);
  --secondary-color: #494444;
  --dark-color: #fff;
}

.container {
  background: var(--secondary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  position: relative;
}

.main-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--dark-color);
}

.main-container.dark h1 {
  color: #fff;
}

.dark-mode {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 5px;
}

.content-wrapper {
  display: flex;
  gap: 20px;
}

.book-list {
  flex: 3;
  height: 400px;
  border: 2px solid #86868681;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 6px;
}

.button-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}

.button-group span {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #c29c9c;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.2s;
  color: var(--dark-color);
}

.btn:hover {
  background: linear-gradient(
    311deg,
    rgba(232, 200, 200, 1) 4%,
    rgba(255, 246, 214, 1) 82%
  );
  color: rgb(0, 0, 0);
}

.dark {
  background: var(--dark-color);
  color: #fff;
}

.darker {
  background: #464242;
}
